body{
  background-color: #E0E0E0;
}
.content {
  margin-top: 30px;
}
nav {
  background-color: #19a69a;
}
.statistic {
  font-size: 8em;
  margin-top: 15px !important;
}
.card {
  min-height: 250px;
}
.activator {
  cursor: pointer;
}
@media screen and (max-width: 600px){
  .statistic {
    font-size: 5em;
  }
}
